@model WebApplication4.Models.User
    
<h1>
    @Model.Id
</h1>
<h1>
    @Model.FirstName
</h1>

@*@using System.Collections.Generic
@Model List<string>
    
    @foreach (var name in Model)
            {
                <h1>
                    @name
                </h1>
            }*@