
@{
    ViewBag.Title = "CarInsurance";
}


@{
    ViewBag.Title = "CsharpLiveProject";
}

<h2 class="white-text">Car Insurance Quote Generator</h2>
<br />
<div id="Slideshow">
    <div id="Slideshow_Background">
        <div id="Slideshow_Container2">

            <!--Slide 1-->
            <div class="mySlides fades">
                <img class="Slideshow_Images2" src="~/Content/images/CarInsurance/Insurance1.png">
                <div class="text">Heading of create page</div>
            </div>
            <!--previous and next buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!--Slide 2-->
            <div class="mySlides fades">
                <img class="Slideshow_Images2" src="~/Content/images/CarInsurance/Insurance2.png">
                <div class="text">
                    Customer input form
                </div>
            </div>
            <!--previous and next buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!--Slide 3-->
            <div class="mySlides fades">
                <img class="Slideshow_Images2" src="~/Content/images/CarInsurance/Insurance3.png">
                <div class="text">Customer details with quote</div>
            </div>
            <!--previous and next buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!--Slide 4-->
            <div class="mySlides fades">
                <img class="Slideshow_Images2" src="~/Content/images/CarInsurance/InsuranceCSHTML.png">
                <div class="text">CSHTML of create page using Razor syntax</div>
            </div>
            <!--previous and next buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!--Slide 5-->
            <div class="mySlides fades">
                <img class="Slideshow_Images2" src="~/Content/images/CarInsurance/InsuranceTable.png">
                <div class="text">Insurees table </div>
            <!--previous and next buttons-->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>            
        </div>
    </div>
</div>
    <!--slideshow dots-->
    <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
    </div>
</div>
<br />
<div class="Bar">
    <h3>Details</h3>
</div>
<div class="portContainer">
    <p class="pText">
        <strong>Car Insurance MVC Web App</strong>
        <br />
        <br />
        This is a working app to calculate a quote for car insurance based on user input such as age, car make and model, and speeding tickets. It was built with the .NET framework and uses the MVC structure for web apps. Entity Framework is employed to interact with a Sql Server database. The entity data model was created using database first approach.
</div>


