
@{
    ViewBag.Title = "Portfolio";
}

<h1 class="white-text">Portfolio</h1>
<h2>C# Live Project</h2>
<p class="white-text">The Tech Academy collaborative team project.</p>

<div class="center">
    <span class="badge bg-primary">ASP.Net</span>
    <span class="badge bg-primary">MVC 5</span>
    <span class="badge bg-primary">C#</span>
    <span class="badge bg-primary">Entity Framework 6</span>
    <span class="badge bg-primary">HTML 5</span>
    <span class="badge bg-primary">CSS 3</span>
    <span class="badge bg-primary">Bootstrap</span>
</div>
<br />
<div>
    <a href="~/Home/CsharpLiveProject.cshtml">
        <img src="~/Content/images/AboutPage.png" />
    </a>
</div>
<br />
<p class="white-text">Car Insurance Quote Generator</p>

<div class="center">
    <span class="badge bg-primary">ASP.Net</span>
    <span class="badge bg-primary">MVC 5</span>
    <span class="badge bg-primary">SQL</span>
    <span class="badge bg-primary">C#</span>
    <span class="badge bg-primary">Entity Framework 6</span>
    <span class="badge bg-primary">HTML 5</span>
    <span class="badge bg-primary">CSS 3</span>

</div>
<br />
<div>
    <a href="~/Home/CarInsurance.cshtml">
        <img src="~/Content/images/CarInsurance/Insurance1.png" />
    </a>
</div>


